openapi: 3.0.2
info:
  title: GigTown
  description: >-
    Find local musicians and events with ease. GigTown integration provides
    artist's name, biography, genres they specialize in, instruments they play,
    their photograph, and upcoming performances. Discover your next favorite
    act!
  version: 0.1.0
servers:
  - url: 'https://agent.gigtown.com'
paths:
  /:
    get:
      operationId: welcome__get
      summary: Successful API working Response
      description: This endpoint used for api working or not
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                description: Successful API working Response
                properties:
                  message:
                    title: Welcome Message
                    type: string
          description: Successful API working Response
      tags:
        - Root
  /.well-known/ai-plugin.json:
    get:
      operationId: manifest__well_known_ai_plugin_json_get
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Manifest
  /ai-plugin.json:
    get:
      operationId: manifest_ai_plugin_json_get
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Manifest
  favicon.ico:
    get:
      operationId: favicon_favicon_ico_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
      summary: Favicon
  /artistrecord/search:
    post:
      operationId: get_search_artistrecord_search_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: >-
            Get Artist Records Search API. It will return all the details of the
            artist based on the user's prompt.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
      summary: >-
        Get Artist Records Search API. It will return all the details of the
        artist based on the user's prompt.
      tags:
        - Artistrecords
  /logo.png:
    get:
      operationId: logo_logo_png_get
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Plugin Logo
  /openapi.yaml:
    get:
      operationId: openapi_spec_openapi_yaml_get
      responses:
        '200':
          content:
            application/json:
              schema: {}
          description: Successful Response
      summary: Openapi Spec
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          title: HTTP Validation Error Detail
          type: array
      title: HTTPValidationError
      type: object
    Response:
      example:
        description: Successfully retrieved Artist details as per your given prompt
        response_type: success
        status_code: 200
        data:
          - Response: ''
            Prompt: {}
            Artists Name: []
            Artists Full Data:
              - artist_name: ''
                artist_city: ''
                artist_country: ''
                artist_tags: ''
                artist_rating: 0
                artist_about: ''
                artist_sourceImage: ''
                artist_profile_url: ''
                artist_instruments: ''
                shows_details:
                  - shows_name: ''
                    shows_timeZone: ''
                    shows_sourceImage: ''
                    shows_venueName: ''
                    venue_details:
                      venues_name: ''
                      venues_detail_url: ''
                      venues_address: ''
                      venues_city: ''
                      venues_state: ''
                      venues_zipcode: ''
                      venues_posterImage: ''
                      venues_variety: ''
                    shows_Dates:
                      - '2023-08-18T00:00:00.000Z'
                events_details:
                  - events_name: ''
                    events_genres: ''
                    events_timeZone: ''
                    events_address: ''
                    events_city: ''
                    events_state: ''
                    events_zipcode: ''
                    events_posterImage: ''
                    venue_details:
                      venues_name: ''
                      venues_detail_url: ''
                    events_date:
                      - startDate: '2023-08-19T01:00:00.000Z'
                        endDate: '2023-08-19T04:00:00.000Z'
            Jct_question: '' 
            Booking_Inquiry_Url: 'For inquiries related to booking, our website, about us, artists, upcoming shows, events, and more, please use this link : https://www.gigtown.com/booking-inquiry' 
      properties:
        data:
          title: Data
        description:
          title: Successful or Error messages
          type: string
        response_type:
          title: Response Type will be success or error
          type: string
        status_code:
          title: Status Code of response
          type: integer
      required:
        - status_code
        - response_type
        - description
      title: Response
      type: object
    SearchRequest:
      title: SearchRequest
      type: object
      properties:
        artist_name:
          title: >-
            Artist Name : The name of the artist the user is searching for. This
            field allows the user to specify a specific artist's name for the
            search
          type: string
        artist_city:
          title: >-
            City Name : The name of the city where the user wants to find local
            artists. The plugin will use this information to filter the search
            results based on the specified city
          type: string
        artist_country:
          title: >-
            Country Name : The name of the country where the user wants to find
            local artists. This field complements the city_name field and allows
            for more specific location-based searches
          type: string
        artist_tags:
          title: >-
            Genres/Tags : The music genres or categories or tags the user is
            interested in. Users can specify one or multiple genres or
            categories or tags to narrow down the search results to artists who
            specialize in those genres or categories or tags
          type: string
        artist_instruments:
          title: Artist Instruments
          type: string    
        shows_name:
          title: >-
            Shows Name is the name of a show, and it is associated with shows
            which an Artist will be performing.
          type: string
        shows_date:
          title: >-
            Shows Date is associated with the date of a show and is specifically
            relevant to shows where an Artist will be performing.
          type: string
        events_name:
          title: Events Name
          type: string
        events_date:
          title: Events Date is associated with the date of a show and is specifically
            relevant to shows where an Artist will be performing.
          type: string
        events_address:
          title: Events Address
          type: string  
        venues_name:
          title: Venues Name
          type: string
        venues_address:
          title: Venues Address
          type: string
        zipcode:
          title: zipcode
          type: string      
        prompt:
          title: >-
            Prompt : A prompt or additional information provided by the user to
            guide the search. This field allows users to provide context or
            specific requirements for the artist search
          type: string
        query:
          title: >-
            Query : The main query or the user's primary search term. This could
            be related to the artist's name, genre, or any other relevant
            keyword that helps in identifying the desired local artists
          type: string 
        RequestId:
          title: >-
            RequestId : Give me the client unique id or Request Id of user
          type: string 
        conversation_id:
          title: >-
            conversation_id : Give me the chat gpt conversation id of user
          type: string 
        sessionId:
          title: >-
            conversation_id : Give me the chat gpt sessionId of user
          type: string 
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            type: string
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string