{"openapi":"3.0.2","info":{"title":"API for Diffbot's Knowledge Graph","description":"Search and find facts of organizations and people from Diffbot Knowledge Graph, and extract information from the Web using Diffbot API.","version":"0.1"},"servers":[{"url":"https://llm.diffbot.com"}],"paths":{"/chatgpt/v1/extract":{"get":{"tags":["chatgpt"],"summary":"Extract","description":"Extract the content from a given URL. Only call this endpoint if the user mentioned a URL.","operationId":"extraction_plugin_api_v1","parameters":[{"description":"URL of a web page.","required":true,"schema":{"title":"Page Url","type":"string","description":"URL of a web page."},"name":"page_url","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExtractionResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/chatgpt/v1/enhance_person":{"get":{"tags":["chatgpt"],"summary":"Enhance Person","description":"Find person from knowledge graph with information extracted from the user query.","operationId":"enhance_person_api_v1","parameters":[{"description":"Name of the person.","required":true,"schema":{"title":"Name","type":"string","description":"Name of the person."},"example":"Sundar Pichai","name":"name","in":"query"},{"description":"Email of the person.","required":false,"schema":{"title":"Email","type":"string","description":"Email of the person."},"example":"sundar@google.com","name":"email","in":"query"},{"description":"Employer of the person.","required":false,"schema":{"title":"Employer","type":"string","description":"Employer of the person."},"example":"Google","name":"employer","in":"query"},{"description":"Location of the person.","required":false,"schema":{"title":"Location","type":"string","description":"Location of the person."},"example":"Mountain View, CA","name":"location","in":"query"},{"description":"Job title of the person.","required":false,"schema":{"title":"Job Title","type":"string","description":"Job title of the person."},"example":"CEO","name":"job_title","in":"query"},{"description":"Phone number of the person.","required":false,"schema":{"title":"Phone","type":"string","description":"Phone number of the person."},"example":"+1 650-253-0000","name":"phone","in":"query"},{"description":"A website for the person.","required":false,"schema":{"title":"Url","type":"string","description":"A website for the person."},"example":"https://www.google.com","name":"url","in":"query"},{"description":"School name of the person.","required":false,"schema":{"title":"School","type":"string","description":"School name of the person."},"example":"Stanford University","name":"school","in":"query"},{"description":"Extra fields that need to return for the person. If a value is not in the list, map it to the closest one, otherwise ignore them.","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/PersonEnhanceField"},"description":"Extra fields that need to return for the person. If a value is not in the list, map it to the closest one, otherwise ignore them."},"example":["educations","skills","employments"],"name":"extra_fields","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnhanceResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/chatgpt/v1/enhance_organization":{"get":{"tags":["chatgpt"],"summary":"Enhance Organization","description":"Find organization from knowledge graph with information extracted from the user query.","operationId":"enhance_organization_api_v1","parameters":[{"description":"Name of the organization.","required":true,"schema":{"title":"Name","type":"string","description":"Name of the organization."},"example":"Google","name":"name","in":"query"},{"description":"Homepage URI of the organization.","required":false,"schema":{"title":"Url","type":"string","description":"Homepage URI of the organization."},"example":"https://www.google.com","name":"url","in":"query"},{"description":"Location of the organization.","required":false,"schema":{"title":"Location","type":"string","description":"Location of the organization."},"example":"Mountain View, CA","name":"location","in":"query"},{"description":"Phone number of the organization.","required":false,"schema":{"title":"Phone","type":"string","description":"Phone number of the organization."},"example":"+1 650-253-0000","name":"phone","in":"query"},{"description":"Free text description of the organization.","required":false,"schema":{"title":"Description","type":"string","description":"Free text description of the organization."},"example":"search engine company","name":"description","in":"query"},{"description":"Extra information requested for the organization. If a value is not in the list, map it to the closest one, otherwise ignore them.","required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationEnhanceField"},"description":"Extra information requested for the organization. If a value is not in the list, map it to the closest one, otherwise ignore them."},"example":["ceo","founders","customers","competitors","partnerships","suppliers","subsidiaries","boardMembers","investments","revenue"],"name":"extra_fields","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnhanceResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/chatgpt/v1/text2dql":{"get":{"tags":["chatgpt"],"summary":"Text2Dql","description":"Only called to find entities that meeting some search criteria. Accept the type of entities (Person or Organizatin) the query is looking for, and construct an instruction for the next step.","operationId":"text2dql_plugin_api_v1","parameters":[{"description":"Query text from the user.","required":true,"schema":{"title":"Query","type":"string","description":"Query text from the user."},"name":"query","in":"query"},{"description":"Entity type: Organization, Person","required":true,"schema":{"title":"Type","type":"string","description":"Entity type: Organization, Person"},"name":"type","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"title":"Response Text2Dql Plugin Api V1","type":"string"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/chatgpt/v1/dql":{"get":{"tags":["chatgpt"],"summary":"Dql","description":"Retrieve data about person or organization. Input includes both query and dql_query.","operationId":"dql_plugin_api_v1","parameters":[{"description":"Query text from the user (the one passed to text2dql).","required":true,"schema":{"title":"Query","type":"string","description":"Query text from the user (the one passed to text2dql)."},"name":"query","in":"query"},{"description":"Diffbot Query Language translated from the query text.","required":true,"schema":{"title":"Dql Query","type":"string","description":"Diffbot Query Language translated from the query text."},"name":"dql_query","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/chatgpt/v1/search":{"get":{"tags":["chatgpt"],"summary":"Search","description":"Search the Web to answer questions. Only call this endpoint if none of the above endpoints is suitable.","operationId":"search_plugin_api_v1","parameters":[{"description":"Search text from the user.","required":true,"schema":{"title":"Text","type":"string","description":"Search text from the user."},"name":"text","in":"query"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"EnhanceResponse":{"title":"EnhanceResponse","type":"object","properties":{"status":{"title":"Status","type":"integer","default":200},"message":{"title":"Message","type":"string"},"type":{"title":"Type","type":"string"},"entity":{"title":"Entity"},"articles":{"title":"Articles"}}},"ExtractionResponse":{"title":"ExtractionResponse","type":"object","properties":{"status":{"title":"Status","type":"integer","default":200},"message":{"title":"Message","type":"string"},"type":{"title":"Type","type":"string"},"url":{"title":"Url","type":"string"},"title":{"title":"Title","type":"string"},"data":{"title":"Data"}}},"HTTPValidationError":{"title":"HTTPValidationError","type":"object","properties":{"detail":{"title":"Detail","type":"array","items":{"$ref":"#/components/schemas/ValidationError"}}}},"OrganizationEnhanceField":{"title":"OrganizationEnhanceField","enum":["ceo","founders","customers","competitors","partnerships","suppliers","subsidiaries","boardMembers","investments","revenue"],"type":"string","description":"An enumeration."},"PersonEnhanceField":{"title":"PersonEnhanceField","enum":["educations","skills","employments"],"type":"string","description":"An enumeration."},"QueryResponse":{"title":"QueryResponse","type":"object","properties":{"status":{"title":"Status","type":"integer","default":200},"message":{"title":"Message","type":"string"},"dql":{"title":"Dql","type":"string"},"hits":{"title":"Hits","type":"integer"},"data":{"title":"Data"},"articles":{"title":"Articles"},"instruction":{"title":"Instruction","type":"string"}}},"SearchResponse":{"title":"SearchResponse","type":"object","properties":{"status":{"title":"Status","type":"integer","default":200},"message":{"title":"Message","type":"string"},"query":{"title":"Query","type":"string"},"data":{"title":"Data"},"instuction":{"title":"Instuction","type":"string"}}},"ValidationError":{"title":"ValidationError","required":["loc","msg","type"],"type":"object","properties":{"loc":{"title":"Location","type":"array","items":{"anyOf":[{"type":"string"},{"type":"integer"}]}},"msg":{"title":"Message","type":"string"},"type":{"title":"Error Type","type":"string"}}}}}}